* {background-color: cornflowerblue;} /* changes the background color */

body{
   color: blue;/* font color */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* font style */
    text-align: center; /* telling it the placement of the text */
}

.header{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

/* this groups up the buttons */
.boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

button{
    background-color: #DAC2FE; /* changes the background color of the button */
    color: black; /* changes text color within button */
    padding: 10px; /* adds space around */
    border: none; 
    border-radius: 10px; /* size of boorder */
    width: 200px;
    height: 100px;
    cursor: pointer; /* makes the curser change to a pointer when the mouse is over the button */
    font-size: larger;
}
    