* {background-color: cornflowerblue;}

body{
   color: violet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.drum1, .drum2, .drum3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    background-color: #DAC2FE; 
    color: whitesmoke; 
    padding: 20px 40px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}