* {background-color: cornflowerblue;} /* changes the background color */

body{
    color: blue; /* font color */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* font style */
    text-align: center; /* telling it the placement of the text */
}

.header{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.drumKit {
    height: 100vh;
    /* border: 3px solid black; */
}

/* this groups up the buttons */
.boxes {
    display: flex;
    flex-wrap: wrap; /* makes it wrap on smaller devices */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gold; */
}

button{
    background-color: #DAC2FE; /* changes the background color of the button */
    color: black; /* changes text color within button */
    padding: 10px; /* adds space around the buttons */
    border: none; 
    border-radius: 25px; /* size of boorder */
    width: 150px;
    height: 85px;
    cursor: pointer; /* makes the curser change to a pointer when the mouse is over the button */
    font-size: larger;
    border: 2px solid black;
    margin-left: 10px; /* creates space to the left of the button */
    margin-right:10px; /* creates space to the right of the button */
}
.pressed {
    background-color: blue; /* Change to desired color */
}
